.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 55.9167px;
  height: 18.3333px;
  flex-direction: column;
  align-items: flex-start;
}
.visa_logo_white {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
